/* Page CSS */

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    color: var(--main-grey);
    background:#171717;
    scroll-behavior: smooth;
}

:root {
  --main-bg: #272727;
  --main-grey: #747474;
  --main-green: #14A76C;
  --main-orange: #FF652F;
  --main-yellow: #FFE400;
  --main-light: #FFF;
  --main-purple: #501E77;
}

/* a tag css */

a {
    text-decoration: none;
}

/* Fonts and Sizing for Text */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

div, a, li, figcaption, p, label {
    font-family: 'Ubuntu', sans-serif;
}

/* Flex Box Each Section */

main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
}

/* Flex CSS */

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

/* HEADER STYLE */

header {
  width: 100%;
  height: 100vh;
  background: url(../assets/background/background_home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header > div.head-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 250px;
  margin: auto;
  height: 360px;
  width: 240px;
  color: var(--main-light);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
}

header > div.head-text * {
  padding: 0;
  margin: 0;
}

header > div.head-text h1 {
  font-size: 92px;
  font-weight: lighter;
  margin-bottom: 30px;
}

header > div.head-text hr {
  width: 100px;
  border-color: var(--main-orange);
}

header > div.head-text hr.central {
  align-self: center;
  border-color: var(--main-yellow);
}

header > div.head-text hr.right {
  align-self: flex-end;
  border-color: var(--main-green);
}

header > div.head-text h2 {
  margin-top: 30px;
  font-weight: lighter;
}

@media only screen and (max-width: 1200px) {
  header img {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  header > div.head-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

@media only screen and (max-width: 520px) {
  header > div.head-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 70px;
    right: 0;
    margin: auto;
  }
}

/*************************************/

header > div.system {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 30%;
  margin: auto;
  height: 1px;
}

header > div.system * {
  z-index: 10;
}

header > div.system .central {
  content: ' ';
  height: 20px;
  width: 20px;
  background: var(--main-grey);
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  left: -5px;
}

header > div.system .first {
  content: ' ';
  height: 10px;
  width: 10px;
  background: var(--main-green);
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  animation: first-rot 3s infinite linear;
}

header > div.system .first-orbit {
  content: ' ';
  height: 152px;
  width: 152px;
  border-radius: 50%;
  position: absolute;
  bottom: -66px;
  left: -71px;
  z-index: 3;
}

header > div.system .first-orbit:before {
  content: ' ';
  border: 2px solid #FFF;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

header > div.system .second-orbit {
  content: ' ';
  height: 302px;
  width: 302px;
  border-radius: 50%;
  position: absolute;
  bottom: -141px;
  left: -146px;
  z-index: 2;
}

header > div.system .second-orbit:before {
  content: ' ';
  border: 2px solid #FFF;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

header > div.system .third-orbit {
  content: ' ';
  height: 452px;
  width: 452px;
  border-radius: 50%;
  position: absolute;
  bottom: -216px;
  left: -221px;
  z-index: 1;
}

header > div.system .third-orbit:before {
  content: ' ';
  border: 2px solid #FFF;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

header > div.system .second {
  content: ' ';
  height: 10px;
  width: 10px;
  background: var(--main-yellow);
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  animation: second-rot 7.5s infinite linear;
}

header > div.system .third {
  content: ' ';
  height: 10px;
  width: 10px;
  background: var(--main-orange);
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  animation: third-rot 15s infinite linear;
}

header > img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 200px;
  margin: auto;
}

/* NAVIGATION STYLE */

nav {
  display: flex;
  position: fixed;
  left: 0;
  width: 60px;
  z-index: 100;
  height: 100%;
  background: #181818;
}

nav img {
  width: 40px;
}

nav ul {
  list-style: none;
  padding: 0;
  width: 100%;
  text-align: center;
}

nav a {
  width: 100%;
}

nav li {
  color: var(--main-grey);
  font-size: 20px;
  width: 100%;
  padding: 15px 0;
  position: relative;
}

nav .social li {
  padding: 7px 0;
  font-size: 14px;
}

nav li:hover {
  transition: 0.3s ease;
}

nav > .nav-central {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  margin: auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav > .social {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav > a {
  position: absolute;
  width: 40px;
  padding: 10px;
  margin:0;
}

nav li:hover {color: var(--main-orange)} nav li.hover {color: var(--main-orange)}

/* Section Styles */

main > section {
  margin-left: 60px;
  padding: 50px;
  position: relative;
}

main > section > div {
  max-width: 1200px;
  width: 100%;
}

main > section > div > h2 {
  text-decoration: underline;
}

@media only screen and (max-width: 860px) {
  main > section {
    padding: 10px;
  }
}

/* Achievements Styles */

#achievements > div > div {
  margin-top: 50px;
  justify-content: flex-start;
}

#achievements .card {
  background: var(--main-grey);
  color: var(--main-bg);
  display: flex;
  height: 250px;
  align-items: flex-end;
  width: 350px;
  margin: 0 auto;
  margin-bottom: 25px;
  position: relative;
}

#achievements .card img {
  position: absolute;
  bottom: 0;
  right: -10px;
  width: 240px;
  background-blend-mode: screen;
}

#achievements .card:last-of-type {
  margin: 0 25px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 1230px) {
  #achievements > div > div {
    justify-content: center;
  }
  #achievements .card:last-of-type {
    margin: 0 auto;
    margin-bottom: 25px;
  }
}

#achievements .card > div {
  background: rgba(115, 115, 115, 0.7);
  z-index: 2;
  width: 100%;
}

#achievements .card > div * {
  margin: 10px;
}

/* About Me */

#aboutme > div > div {
  padding: 25px;
  border: 1px solid #555;
  margin: 50px 0;
}

#aboutme > div a {
  color: var(--main-orange);
}

#aboutme > div > div * {
  margin: 0;
}

#aboutme .progress {
  margin-top: 10px;
  height: 35px;
  display: flex;
  text-align: center;
}

#aboutme .progress p {
  color: var(--main-bg);
  height: 35px;
  text-align: center;
  margin: 0;
  line-height: 2.2;
  background: var(--main-grey);
}

@media only screen and (max-width: 1026px) {
  #aboutme > div > div {
    padding: 10px;
    border: 1px solid #555;
  }
}

/* PROJECT STYLE */

#projects .content {
  text-align: center;
  position: relative;
  padding: 20px 0;
  transition: 0.3s ease;
  color: var(--main-grey);
  margin: 200px auto;
  text-align: left;
  align-items: center;
}

#projects .content > div {
  background:#171717;
  max-width: 400px;
  align-items: center;
  padding: 20px 0;
}

#projects .content > div h3 {
  font-size: 42px;
  margin:0;
  margin-bottom: 10px;
}

#projects .content > div p {
  margin-top: 0;
}

#projects .content img {
  width: 400px;
  margin-left: 50px;
}

#projects .content:before {
  content:' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 400px;
  height: 300px;
  margin: auto;
  border: 5px solid var(--main-green);
  z-index: -1;
  transition: 0.3s ease;
}

#projects .yellow:before {
  border: 5px solid var(--main-yellow);
}

#projects .content:hover::before {
  max-width: 500px;
  height: 350px;
}

@media only screen and (max-width: 1026px) {
  #projects .content img {
    margin: 0;
  }
  #projects .content:before {
      max-width: 450px;
  }
}

@media only screen and (max-width: 762px) {
  #projects .content {
    padding: 0;
    margin: 50px auto;
  }
  #projects .content > div {
    max-width: 300px;
    padding: 20px 0;
  }
  #projects .content {text-align:center;}
  #projects .content > div h3 {
    font-size: 30px;
  }
  #projects .content > div p {
    font-size: 16px;
  }
  #projects .content:before {
    max-width: 300px;
  }
  #projects .content:hover::before {
    max-width: 300px;
    height: 450px;
  }
  #projects .content img {
    max-width: 340px;
  }
}

@media only screen and (max-width: 520px) {
  #projects .content img {
    display: none;
  }
  #projects .content > div {
    max-width: 100px;
    padding: 20px 0;
  }
}
