/* Page CSS */

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  color: var(--main-text);
  background: #eaf4f4 url(../assets/background/specks.png) repeat 20px 0;
  scroll-behavior: smooth;
}

:root {
  --main-light: #fff;
  --main-text: #1f1f1f;
  --main-grey: #454851;
  --main-bg: #eaf4f4;
  --light-mint-cream: #f6fff8;
  --mint-cream: #eaf4f4;
  --light-cyan: #cce3de;
  --cambridge-blue: #a4c3b2;
  --wintergreen-dream: #6b9080;
}

/* a tag css */

a {
  text-decoration: none;
  color: var(--wintergreen-dream);
}

/* Fonts and Sizing for Text */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

div,
a,
li,
figcaption,
p,
label {
  font-family: "Ubuntu", sans-serif;
}

@media only screen and (max-width: 720px) {
  p {
    font-size: 1.2em;
  }
}

/* Flex Box Each Section */

main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

/* Flex CSS */

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

/* HEADER STYLE */

header {
  width: 100%;
  height: 75vh;
  background: url(../assets/background/back.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > div.head-text {
  max-width: 1200px;
  width: 100%;
  padding: 50px;
  margin-left: 60px;
  color: var(--main-light);
}

header > div.head-text * {
  padding: 0;
  margin: 0;
}

header > div.head-text h1 {
  font-size: 92px;
  font-weight: lighter;
  margin-bottom: 30px;
}

header > div.head-text h2 {
  font-weight: lighter;
}

@media only screen and (max-width: 1300px) {
  header img {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  header > div.head-text h1 {
    font-size: 72px;
  }
}

@media only screen and (max-width: 520px) {
  header {
    overflow: hidden;
  }

  header > div.head-text {
    margin-left: 0;
    padding: 2em;
  }
}

header > img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 200px;
  margin: auto;
}

/* NAVIGATION STYLE */

.responsive {
  color: var(--mint-cream) !important;
  background: var(--main-text);
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 101;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

nav {
  display: flex;
  position: fixed;
  left: 0;
  width: 60px;
  z-index: 100;
  height: 100%;
  background: #181818;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

nav img {
  width: 40px;
}

nav ul {
  list-style: none;
  padding: 0;
  width: 100%;
  text-align: center;
}

nav a {
  width: 100%;
}

nav li {
  color: var(--main-grey);
  font-size: 20px;
  width: 100%;
  padding: 15px 0;
  position: relative;
}

nav .social li {
  padding: 7px 0;
  font-size: 14px;
}

nav li:hover {
  transition: 0.3s ease;
}

nav > .nav-central {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  margin: auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav > .social {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav > a {
  position: absolute;
  width: 40px;
  padding: 10px;
  margin: 0;
}

nav li:hover {
  color: var(--wintergreen-dream);
}

nav li.hover {
  color: var(--wintergreen-dream);
}

@media only screen and (max-width: 480px) {
  nav {
    left: -60px;
  }
  nav.show {
    left: 0;
  }
  nav img {
    opacity: 0;
  }
  .responsive {
    visibility: visible;
  }
}

/* Section Styles */

main > section {
  margin-left: 60px;
  padding: 50px;
  position: relative;
}

main > section > div {
  max-width: 1200px;
  width: 100%;
}

main > section > div > h2 {
  text-decoration: underline;
}

@media only screen and (max-width: 860px) {
  main > section {
    padding: 2em;
  }
}

@media only screen and (max-width: 480px) {
  main > section {
    margin-left: 0;
  }
}

/* Achievements Styles */

#achievements > div > div {
  margin-top: 50px;
  justify-content: space-between;
}

#achievements .card {
  background: var(--cambridge-blue);
  color: var(--main-bg);
  display: flex;
  height: 250px;
  align-items: flex-end;
  max-width: 350px;
  width: 100%;
  margin-bottom: 25px;
  position: relative;
}

#achievements .card img {
  position: absolute;
  bottom: 0;
  right: -10px;
  width: 240px;
  background-blend-mode: screen;
}

@media only screen and (max-width: 1230px) {
  #achievements > div > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#achievements .card > div {
  background: rgba(164, 195, 178, 0.7);
  z-index: 2;
  width: 100%;
}

#achievements .card > div * {
  margin: 10px;
}

/* About Me */

#technologies {
  background: var(--light-cyan);
}

#technologies .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: -1em 0;
}

#technologies .cards > div {
  max-width: 120px;
  padding: 1em;
}

#technologies .cards > div img {
  width: 100%;
}

#technologies .cards > div p {
  padding: 0.5em;
  text-align: center;
}

/* Education STYLE */

#education > div > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -1em 0;
}

#education .card {
  background: var(--light-mint-cream);
  padding: 1em;
  max-width: 550px;
  margin: 1em 0;
}

#education .card h3 {
  margin: 0;
}

/* PROJECT STYLE */

#projects .content {
  text-align: center;
  position: relative;
  padding: 20px 0;
  transition: 0.3s ease;
  margin: 200px auto;
  text-align: left;
  align-items: center;
}

#projects .content > div {
  background: var(--mint-cream);
  max-width: 400px;
  align-items: center;
  padding: 1em;
  transition: 0.2s ease-in-out;
}

#projects .content > div h3 {
  font-size: 42px;
  margin: 0;
  margin-bottom: 10px;
}

#projects .content > div p {
  margin-top: 0;
  color: var(--main-text);
}

#projects .content img {
  width: 400px;
  margin-left: 50px;
}

#projects .content .icons {
  margin: 0 -1em;
}

#projects .content .icons img {
  width: 2em;
  margin: 0 1em;
}

#projects .content:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 400px;
  height: 300px;
  margin: auto;
  border: 5px solid var(--wintergreen-dream);
  z-index: -1;
  transition: 0.3s ease;
}

#projects .content:hover::before {
  max-width: 500px;
  height: 350px;
}

#projects .content:hover > div {
  background: var(--light-cyan);
}

@media only screen and (max-width: 1026px) {
  #projects .content img {
    margin: 0;
  }

  #projects .content:before {
    max-width: 450px;
  }

  #projects .content > div {
    padding: 1em;
  }

  #projects .content > div h3 {
    text-align: center;
  }
}

@media only screen and (max-width: 762px) {
  #projects .content {
    padding: 0;
    margin: 50px auto;
  }

  #projects .content > div {
    max-width: 300px;
    padding: 20px 0;
  }

  #projects .content {
    text-align: center;
  }

  #projects .content > div h3 {
    font-size: 30px;
  }

  #projects .content > div p {
    font-size: 16px;
  }

  #projects .content:before {
    max-width: 300px;
  }

  #projects .content:hover::before {
    max-width: 300px;
    height: auto;
  }

  #projects .content:hover::before {
    background: var(--wintergreen-dream);
    height: 300px;
  }

  #projects .content img {
    max-width: 340px;
  }
}

@media only screen and (max-width: 520px) {
  #projects .content > div {
    max-width: 100%;
  }

  #projects .content:before {
    visibility: hidden;
  }
}
